<h1>List of all movies</h1>



<table border = "1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>

  <% Movie.all.each do |movie| %>
    <tr>
      <td>
        <%= movie.id %>
      </td>
      <td>
        <img src="<%= movie.image %>" width="200"> <!-- Note the explicit display tag for image source here -->
      </td>
      <td>
        <%= movie.title %>
      </td>
      <td>
        <%= movie.year %>
      </td>
      <td>
        <% director = Director.where({:id => movie.director_id})[0] %>
        <%= director.name %>
      </td>
      <td>
        <a href="movies/<%= movie.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
